body{
  margin: 0%;
  padding: 0%;
  background-color: #fffbe6;
}
.navbar-main-container{
  background-color: rgb(15, 15, 15);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: static;
  top: 0;
}
.logo-container{
display: flex;
align-items: center;
gap: 20px;
}
.main-logo{
  border-radius: 30px;
  cursor: pointer;
}
.project-name{
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.nav-links-container{
  display: flex;
  gap: 30px;
  cursor: pointer;
}
.auth-link-container{
  display: flex;
  gap: 30px;
  cursor: pointer;
}