body {
  margin: 0%;
  padding: 0%;
  background-color: #fffbe6;
}
.main-image {
  margin-top: 20px;
  height: 500px;
}
.main-content-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.project-heading {
  font-size: 70px;
  font-weight: bold;
  font-style: italic;
  font-family: "cursive";
}
.project-subheading {
  font-size: 30px;
  font-style: italic;
  font-family: "cursive";
}
.main-button-container {
  display: flex;
  gap: 20px;
}
.get-started-button {
  padding: 10px 30px;
  font-size: 15px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
}
.get-started-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.learn-more-button {
  padding: 10px 30px;
  font-size: 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
}
.learn-more-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.footer-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #333;
  color: white;
}
.footer-section-1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1200px;
}
.social-icons-container{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.social-icons{
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-color: white;
  border-radius: 50px;
  padding: 5px;
}


.footer-section-2{
display: flex;
  flex-direction: column;
  gap: 10px;
  width: 800px
}
.footer-section-3{
display: flex;
  flex-direction: column;
  gap: 10px;
  width: 800px
}
.footer-section-4{
display: flex;
  flex-direction: column;
  gap: 10px;
  width: 800px
}
.contact-item{
  display: flex;
  gap: 10px;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .footer-container{
     flex-direction: column;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer-section-1
  .footer-section-2
  .footer-section-3
  .footer-section-4{
    width: 100%;
    align-items: center;
    text-align: center;
  }
}




@media screen and (max-width: 768px) {
  .main-content-container {
    flex-direction: column;
    align-items: center;
  }
  .project-heading {
    font-size: 40px;
    padding-left:10px;
    padding-right: 10px;
  }
  .main-image {
    height: 300px;
  }
  .project-subheading{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-button-container{
    flex-direction: column;
  }
}
